<html>
<<<<<<< HEAD
    <head>
        <title>Date</title>
    </head>

    <body>
        <% date = DateTime.now.strftime("%A, %B %d, %Y") %>
        
        <h1> <%= "The date is #{date}" %> </h1>
    </body>
=======
  <head>
    <title>Date!</title>
  </head>
  
  <h1><%= DateTime.now %> </h1>
  
>>>>>>> f785a045c1cff40d488cda9a7c2c67d33ffab504
</html>