<html>
<<<<<<< HEAD
    <head>
        <title>Goodbye</title>
    </head>

    <body>
        <% names = ["Joe", "Robert", "Wallace", "Tammy"] %>

        <h1> <%= "Goodbye #{names.first}" %> </h1>
    </body>
=======
  <head>
    <title>Goodbye!</title>
  </head>
  
  <% names = ["Joe", "Wallace", "Robert"] %>
  <h1><%= "Goodbye #{names.first}" %> </h1>
  
>>>>>>> f785a045c1cff40d488cda9a7c2c67d33ffab504
</html>