<html>
    <head>
        <title>Goodbye</title>
    </head>

    <body>
        <% names = ["Joe", "Robert", "Wallace", "Tammy"] %>

        <h1> <%= "Goodbye #{names.first}" %> </h1>
    </body>
</html>