<html>
<<<<<<< HEAD
    <head>
        <title>Hello</title>
    </head>

    <body>
        <h1>Hello World!</h1>
    </body>
=======
  <head>
    <title>Hello!</title>
  </head>
  
  <h1>Hello World</h1>
  
>>>>>>> f785a045c1cff40d488cda9a7c2c67d33ffab504
</html>