<html>
<<<<<<< HEAD
    <head>
        <title>Home</title>
    </head>

    <body>
        <h1>This is the index(home) page!</h1>
    </body>
=======
  <head>
    <title>Index!</title>
  </head>
  
  <h1>This is the index</h1>
  
>>>>>>> f785a045c1cff40d488cda9a7c2c67d33ffab504
</html>